__pycache__
*/__pycache__
DataProcessing
Demonstration
GaussianProcessRegression
Visualisation
Data/DynamicFigures/IntensityEvaluation/videos/*
Data/DynamicFigures/ProbabilityEstimation/videos/*
Data/InputData/100Car/*
Data/InputData/highD_LC/*
Data/OutputData/conflict_probability/*
Data/OutputData/conflict_probability/optimal_warning/*
Data/OutputData/intensity_evaluation/*
Data/OutputData/trained_models/*
Data/OutputData/trained_models/highD_LC/beta=5/*
Data/OutputData/trained_models/highD_LC/beta=10/*
Data/OutputData/video_images/*
Data/ProcessedData/100Car/*
Data/ProcessedData/highD/*
Data/ProcessedData/highD/lane_changing/*
Data/RawData/highD/*
!Data
!Data/OutputData/conflict_probability/optimal_warning
!Data/OutputData/trained_models/highD_LC
!Data/ProcessedData/highD/lane_changing
